<ul id="menu">
  <li><button type="button" class="btn btn-primary"><a href="http://127.0.0.1:8000/">首頁</a></button></li>
  <li><button type="button" class="btn btn-primary"><a href="http://127.0.0.1:8000/">關於</a></button></li>
  <li><button type="button" class="btn btn-primary"><a href="http://127.0.0.1:8000/">留言板</a></button></li>
  <li><button type="button" class="btn btn-primary"><a href="http://127.0.0.1:8000/admin/">admin</a></button></li>
  {% if user.is_authenticated %}
    <li><button type="button" class="btn btn-primary"><a href="http://127.0.0.1:8000/">登出 ({{ user.username }})</a></button></li>
  {% else %}
    <li><button type="button" class="btn btn-primary"><a href="http://127.0.0.1:8000/">註冊</a></button></li>
    <li><button type="button" class="btn btn-primary"><a href="http://127.0.0.1:8000/">登入</a></button></li>
  {% endif %}

</ul>
