{% extends 'main/base.html' %}
{% load static %}
{% block heading %}Jason的Django世界{% endblock %}
{% block content %}
    <p>歡迎來到Jason的Django世界</p>
<div class="container-fluid p-2 bg-light text-black text-left">
<H3> 本篇主要讨论一下User Model的使用技巧. 注意, 由于Django 1.5之后user model带来了很大的变化, 本篇内容只针对django 1.5之后的版本.
</H3>
</div>
<br>
<div class="container-fluid p-2 bg-light text-black text-left">
<p>
    1. 确定 User Model
我们推荐一下方式来确定某一django项目使用的user model:

    # 使用默认User model时
    >>> from django.contrib.auth import get_user_model
    >>> get_user_model()
    <class 'django.contrib.auth.models.User'>

    # 使用自定义User model时
    >>> from django.contrib.auth import get_user_model
    >>> get_user_model()
    <class
</p>
    </div>
<br>
<div class="container-fluid p-2 bg-light text-black text-left">
<p>
2. 使用settings.AUTH_USER_MODEL
自从django 1.5之后, 用户可以自定义User model了, 如果需要外键使用user model, 官方推荐的方法如下:

在settings中设置AUTH_USER_MODEL:

    # settings.py
    # 格式为 "<django_app名>.<p>"
    AUTH_USER_MODEL = "myapp.NewUser"
在models.py中使用

    # models.py
    from django.conf import settings
    from django.db import models

    class Article(models.Model):
        author = models.ForeignKey(settings.AUTH_USER_MODEL)
        title = models.CharField(max_length=255)
还有需要注意的是, 不要在外键中使用get_user_model().
</p>
</div>
<br>
<div class="container-fluid p-2 bg-light text-black text-left">
<p>
3. 自定义 User Model
    <br>
方法1: 扩展 AbstractUser类
如果你对django自带的User model刚到满意, 又希望额外的field的话, 你可以扩展AbstractUser类:

   # myapp/models.py
    from django.contrib.auth.models import AbstractUser
    from django.db import models

    class NewUser(AbstractUser):
        new_field = models.CharField(max_length=100)
不要忘了在settings.py中设置:

 AUTH_USER_MODEL = "myapp.NewUser"
      <br>
方法2: 扩展 AbstractBaseUser类
AbstractBaseUser中只含有3个field: password, last_login和is_active. 如果你对django user model默认的first_name, last_name不满意, 或者只想保留默认的密码储存方式, 则可以选择这一方式.
  <br>
方法3: 使用OneToOneField
如果你想建立一个第三方模块发布在PyPi上, 这一模块需要根据用户储存每个用户的额外信息. 或者我们的django项目中希望不同的用户拥有不同的field, 有些用户则需要不同field的组合, 且我们使用了方法1或方法2:

    # profiles/models.py
    from django.conf import settings
    from django.db import models

    from flavors.models import Flavor

    class EasterProfile(models.Model):
        user = models.OneToOneField(settings.AUTH_USER_MODEL)
        favorite_ice_cream = models.ForeignKey(Flavor, null=True, blank=True)


    class ScooperProfile(models.Model):
        user = models.OneToOneField(settings.AUTH_USER_MODEL)
        scoops_scooped = models.IntergerField(default=0)


    class InventorProfile(models.Model):
        user = models.OneToOneField(settings.AUTH_USER_MODEL)
        flavors_invented = models.ManyToManyField(Flavor, null=True, blank=True)
使用以上方法, 我们可以使用user.easterprofile.favorite_ice_cream获取相应的profile.

使用这一方法的坏处可能就是增加了代码的复杂性.
</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock %}