{% extends 'main/base.html' %}
{% load static %}
{% block heading %}
首頁
<h3 class="bg-info p-3">
    <!--<h3 style="background-color:Tomato;">-->
    <button type="button" class="btn btn-primary"><a class="text-primary" href="/">林至丞的 Django Blog</a></button>
    <button type="button" class="btn btn-primary"><a class="text-primary" href="{% url 'main:bike' %}">林至丞的重機</a></button>
    <button type="button" class="btn btn-primary"><a class="text-primary" href="{% url 'upload_profile:upload_profile' %}">簽到簿</a></button>
</h3>
{% endblock %}
{% block content %}
<br>
<p style="background-color:Orange;">這是主要內容</p>
{% endblock %}
